doc2/assistente-virtual-2.0-.json
{
  "createdAt": "2025-07-25T18:23:32.111Z",
  "updatedAt": "2025-07-31T13:15:01.758Z",
  "id": "FSKeYHO9tOATfyh8",
  "name": "ASSISTENTE VIRTUAL 2.0",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{\n  telefone_limpo: $json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\")\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        144
      ],
      "id": "83c9f673-0d16-48db-b2be-801daaf607ec",
      "name": "Formata celular"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d9f0a46a-504a-4d52-a0a3-a6222fe80509",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2976,
        272
      ],
      "id": "5a2ef834-826c-481d-b09c-3efa741ab559",
      "name": "Recebe mensagem usuario",
      "webhookId": "d9f0a46a-504a-4d52-a0a3-a6222fe80509"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Numero }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cadastrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fb1915e-576b-4729-a204-61718f51a0ce",
                    "leftValue": "={{ $json.Numero }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem cadastro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        144
      ],
      "id": "cc0e4e3d-f51f-4a7b-827f-9ad1207a884f",
      "name": "Valida se usuario esta cadastrado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8df05c6-f0d2-46d6-987f-d6ed0f429116",
              "leftValue": "={{ $json.Thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        176
      ],
      "id": "e1da4416-0742-4316-926d-1f40bfe7d822",
      "name": "Verifica se tem thread criada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -64
      ],
      "id": "db1ef739-dac7-424b-97ac-aa8d601132d4",
      "name": "Cria a thread",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1790a98-1cc0-4569-be53-4998defd4d1e",
              "leftValue": "={{ $('Verifica se usuario tem cadastro').item.json.Atendimento }}",
              "rightValue": "Fechado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        -96
      ],
      "id": "8551453a-20ec-423a-8d85-32cda143083f",
      "name": "verifica atendimento"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $('Bella AI').item.json.threadId }}/messages ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        336
      ],
      "id": "9a15fe3a-6c05-4189-9786-446d917e1670",
      "name": "Pega mensagens da conversa",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const threadData = items[0].json.data;\n\n// Ordenar as mensagens por data de criação (caso não estejam ordenadas)\nthreadData.sort((a, b) => a.created_at - b.created_at);\n\n// Concatenar todas as mensagens\nlet concatenatedMessages = threadData.map(message => {\n    const role = message.role === \"user\" ? \"Usuário\" : \"Assistente\";\n    const textContent = message.content.map(c => c.text.value).join(\"\\n\");\n    return `**${role}:** ${textContent}`;\n}).join(\"\\n\\n\");\n\nreturn [{ json: { concatenatedMessages } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        336
      ],
      "id": "190e0166-fada-481d-a78d-bb9bc408556f",
      "name": "Concatena mensagens"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_YPtLsfgWO37nmyrnrYxzxsSv",
          "mode": "list",
          "cachedResultName": "ASSISTENTE VIRTUAL"
        },
        "prompt": "define",
        "text": "={{ $('Recebe mensagem usuario').item.json.body.data.message.conversation }}",
        "memory": "threadId",
        "threadId": "={{ $('Verifica se usuario tem cadastro').item.json.Thread_id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        448,
        336
      ],
      "id": "d71e037f-cf09-46dd-9c96-4641c1853019",
      "name": "Bella AI",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_uo7foJsYABqpzNEweenB7qXA",
          "mode": "list",
          "cachedResultName": "ANALISA CONVERSA"
        },
        "prompt": "define",
        "text": "={{ $json.concatenatedMessages }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1552,
        336
      ],
      "id": "5dbe7dbe-61b9-495f-bb1b-c69bdb99ce23",
      "name": "Analisa Conversas",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eea48c98-19fd-41f0-bfcd-b96343937957",
              "leftValue": "={{ $json.output }}",
              "rightValue": "fechado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        336
      ],
      "id": "f2a409ea-c283-44d2-96bf-34747a851c08",
      "name": "Verifica se vai fechar o atendimento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13fac7ba-7787-4b3a-b543-698411095a43",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2800,
        272
      ],
      "id": "dd4e4c8a-5017-49aa-a4af-90850b0083b9",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2592,
        112
      ],
      "id": "2fafe924-9f23-4ed1-b7ac-3c6a0838d273",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "Numero",
              "condition": "eq",
              "keyValue": "={{ $json.telefone_limpo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        144
      ],
      "id": "2da9922d-5113-466c-8220-2d7ffbf4b4f9",
      "name": "Verifica se usuario tem cadastro",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Dados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Recebe mensagem usuario').item.json.body.data.pushName }}"
            },
            {
              "fieldId": "Numero",
              "fieldValue": "={{ $('Formata celular').item.json.telefone_limpo }}"
            },
            {
              "fieldId": "Atendimento",
              "fieldValue": "Aberto"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -272,
        352
      ],
      "id": "9d40ed0c-0f22-4d02-9c7d-3199465c38d0",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "Thread_id",
              "condition": "eq",
              "keyValue": "={{ $('Verifica se tem thread criada').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Thread_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "c746df8c-0983-41b3-acd8-16b330f46914",
      "name": "Salva thread no banco de dados",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Automação IA",
        "remoteJid": "={{ $('Formata celular').item.json.telefone_limpo }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        880,
        336
      ],
      "id": "48db77d1-87fd-408e-87e8-16c21afa7a2c",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "Thread_id",
              "condition": "eq",
              "keyValue": "={{ $('Verifica se tem thread criada').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Atendimento",
              "fieldValue": "Fechado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2112,
        96
      ],
      "id": "ddc8ec53-de81-4b9f-b4d5-e99769431275",
      "name": "Fecha atendimento",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.body.data.key.remoteJid }}",
        "messageData": "={{ $json.body.data.message.conversation }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2592,
        368
      ],
      "id": "9afab021-fe60-4e83-97b9-03452f93c789",
      "name": "Salva mensagem",
      "credentials": {
        "redis": {
          "id": "4SiUoUBw22jNHEdt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "conversa",
        "key": "={{ $json.body.data.key.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2384,
        368
      ],
      "id": "f1c45f7d-d43b-41ba-aec0-f8d1d9cdd457",
      "name": "pega mensagens",
      "credentials": {
        "redis": {
          "id": "4SiUoUBw22jNHEdt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "113edd2e-9395-4950-acb8-c57c8f2ef680",
              "leftValue": "={{ $json.conversa.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        368
      ],
      "id": "289d906c-5143-4160-ae68-c0726ff4e130",
      "name": "Verfiia se é primeira mensagem"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Recebe mensagem usuario').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1024,
        288
      ],
      "id": "af8dccd7-9c73-4911-9876-dce0ca644534",
      "name": "Apaga mensagens",
      "credentials": {
        "redis": {
          "id": "4SiUoUBw22jNHEdt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1968,
        272
      ],
      "id": "7fb13cea-1d98-43b0-9536-41fc1289c26c",
      "name": "Wait",
      "webhookId": "344ef45f-aba4-4a63-afd9-25b446a49142"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1968,
        464
      ],
      "id": "c4a1d312-0829-45e6-b0e8-815a351e218b",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "conversa",
        "key": "={{ $json.body.data.key.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1792,
        272
      ],
      "id": "f6bcea7c-f246-4d53-8cf0-29d44b77c708",
      "name": "pega mensagens1",
      "credentials": {
        "redis": {
          "id": "4SiUoUBw22jNHEdt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Apenas responda a mensagem do usuário:\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1584,
        272
      ],
      "id": "6fc9aa6b-b8ac-4d01-9649-e83bed191c04",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Automação IA",
        "remoteJid": "={{ $('Formata celular').item.json.telefone_limpo }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1216,
        272
      ],
      "id": "6d8c5450-454a-46e6-a56e-84fd168525b9",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Formata celular": {
      "main": [
        [
          {
            "node": "Verifica se usuario tem cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe mensagem usuario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se usuario esta cadastrado": {
      "main": [
        [
          {
            "node": "verifica atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem thread criada": {
      "main": [
        [
          {
            "node": "Cria a thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bella AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria a thread": {
      "main": [
        [
          {
            "node": "Salva thread no banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica atendimento": {
      "main": [
        [],
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega mensagens da conversa": {
      "main": [
        [
          {
            "node": "Concatena mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatena mensagens": {
      "main": [
        [
          {
            "node": "Analisa Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bella AI": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Conversas": {
      "main": [
        [
          {
            "node": "Verifica se vai fechar o atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se vai fechar o atendimento": {
      "main": [
        [
          {
            "node": "Fecha atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salva mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usuario tem cadastro": {
      "main": [
        [
          {
            "node": "Valida se usuario esta cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva thread no banco de dados": {
      "main": [
        [
          {
            "node": "Bella AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Pega mensagens da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem": {
      "main": [
        [
          {
            "node": "pega mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega mensagens": {
      "main": [
        [
          {
            "node": "Verfiia se é primeira mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verfiia se é primeira mensagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pega mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega mensagens1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "Apaga mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "78936bfb-9db9-47f9-8fca-1989eac5f499",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-25T18:23:32.111Z",
      "updatedAt": "2025-07-25T18:23:32.111Z",
      "role": "workflow:owner",
      "workflowId": "FSKeYHO9tOATfyh8",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}