doc2/assistente-virtual-clinica-.json
{
  "createdAt": "2025-07-15T00:37:20.788Z",
  "updatedAt": "2025-07-15T19:11:22.212Z",
  "id": "SQyjrJIXQ9azPnMd",
  "name": "ASSISTENTE VIRTUAL CLINICA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Automação IA",
        "remoteJid": "={{ $('Recebe  mensagem usuário').item.json.body.data.key.remoteJid.split(\"@\")[0] }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        580,
        -160
      ],
      "id": "3524680b-2037-401c-b09b-64c7127ab789",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "y7hI6SRUiB0drSYF",
          "name": "Automação IA"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_wkFobVYdfZnejyfL1HdCqzrq",
          "mode": "list",
          "cachedResultName": "ASSISTENTE VIRTUAL"
        },
        "prompt": "define",
        "text": "={{ $('Recebe  mensagem usuário').item.json.body.data.message.conversation }}",
        "memory": "threadId",
        "threadId": "={{ $json.Thread_id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        260,
        -160
      ],
      "id": "9a2f669f-9b3f-44dd-a5ad-36ae9ff1cb6f",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ftRy4cjmEKdECoxW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  telefone_limpo: $json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\")\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        -160
      ],
      "id": "66bbf6fb-c2ad-4fd4-8bf3-534a5c8cce76",
      "name": "Formatar celular"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "Numero",
              "condition": "eq",
              "keyValue": "={{ $json.telefone_limpo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -960,
        -160
      ],
      "id": "28fb7690-bce5-4565-858b-7728db540a38",
      "name": "Verifica se usuário tem cadastro",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pit1tKvo1cHaZKRl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Numero }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "b5af41cd-880f-47d0-bb82-203b6f10dc14"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cadastrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12c3c7c0-3ae7-4114-9e2f-39b6b1f2efcd",
                    "leftValue": "={{ $json.Numero }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem cadastro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -780,
        -160
      ],
      "id": "76399c8b-9b5f-4ccb-a3dd-f352596430b9",
      "name": "Valida se usuário está cadastrado"
    },
    {
      "parameters": {
        "tableId": "Dados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Recebe  mensagem usuário').item.json.body.data.pushName }}"
            },
            {
              "fieldId": "Numero",
              "fieldValue": "={{ $('Formatar celular').item.json.telefone_limpo }}"
            },
            {
              "fieldId": "Atendimento",
              "fieldValue": "Aberto"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -560,
        0
      ],
      "id": "5f7105c3-745a-46ff-a998-d51bdfcbcb2d",
      "name": "Cadastra usuário no BD",
      "credentials": {
        "supabaseApi": {
          "id": "pit1tKvo1cHaZKRl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -360
      ],
      "id": "ee8d13dd-e5f6-4369-9513-d5ea4b8b1d82",
      "name": "Cria a thread",
      "credentials": {
        "openAiApi": {
          "id": "ftRy4cjmEKdECoxW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Verifica se tem thread criada').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Thread_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20,
        -360
      ],
      "id": "4ef504ec-4175-4235-b7c5-5b7122ecf5b1",
      "name": "Salva Thread no BD",
      "credentials": {
        "supabaseApi": {
          "id": "pit1tKvo1cHaZKRl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a74343c2-df19-4831-a7be-93645c2ea590",
              "leftValue": "={{ $json.Thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        -160
      ],
      "id": "71378372-9a50-498b-b97b-7436a27c9f13",
      "name": "Verifica se tem thread criada"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        -160
      ],
      "id": "8cdca62e-a0bc-47c3-a051-0ebdd3f61cee",
      "name": "Recebe  mensagem usuário",
      "webhookId": "ab3e00e1-c2a9-4c2e-8f40-cd5b9ad9469c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9249dc89-b1bf-4034-a900-73224730cfa9",
              "leftValue": "={{ $json.Atendimento }}",
              "rightValue": "Fechado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -340
      ],
      "id": "5ad6237c-656e-404e-84f1-6e2717e32a0f",
      "name": "Verifica atendimento"
    }
  ],
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar celular": {
      "main": [
        [
          {
            "node": "Verifica se usuário tem cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usuário tem cadastro": {
      "main": [
        [
          {
            "node": "Valida se usuário está cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se usuário está cadastrado": {
      "main": [
        [
          {
            "node": "Verifica atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastra usuário no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra usuário no BD": {
      "main": [
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria a thread": {
      "main": [
        [
          {
            "node": "Salva Thread no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem thread criada": {
      "main": [
        [
          {
            "node": "Cria a thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe  mensagem usuário": {
      "main": [
        [
          {
            "node": "Formatar celular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Thread no BD": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica atendimento": {
      "main": [
        [],
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Recebe  mensagem usuário": [
      {
        "json": {
          "headers": {
            "host": "n8n.everaldolima.com.br",
            "user-agent": "axios/1.10.0",
            "content-length": "1039",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "5.161.253.237",
            "cf-ipcountry": "US",
            "cf-ray": "95fb521768b4d69c-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "172.71.194.246",
            "x-forwarded-host": "n8n.everaldolima.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "678825274e56",
            "x-real-ip": "172.71.194.246"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Automação IA",
            "data": {
              "key": {
                "remoteJid": "5513988491908@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0313DBC150C55FB3934",
                "senderLid": "273984704741630@lid"
              },
              "pushName": "Everaldo",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "gGlStNL/Dx5nxA==",
                    "senderTimestamp": "1752337100",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "T1MRQ+uJY03byg==",
                    "recipientTimestamp": "1752180426"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "JB1J4kRb17KIzBzhxMr8cAGoYZN5VObQK7FT8njK9Pw=",
                  "limitSharingV2": {
                    "trigger": "UNKNOWN",
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1752604117,
              "instanceId": "b8ce8df9-fbcd-4249-9ae1-67b9a10a15a5",
              "source": "web"
            },
            "destination": "https://n8n.everaldolima.com.br/webhook-test/clinica",
            "date_time": "2025-07-15T15:28:37.648Z",
            "sender": "5521993232635@s.whatsapp.net",
            "server_url": "https://evo.everaldolima.com.br:8080",
            "apikey": "BAAF972F66A7-4B25-89A1-88C0885871E7"
          },
          "webhookUrl": "https://n8n.everaldolima.com.br/webhook-test/clinica",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "bc54d2ad-d62f-4ce2-9a62-ddf08735d0ba",
  "triggerCount": 1,
  "tags": []
}