doc2/assistente-virtual-clinica-.json
{
  "createdAt": "2025-07-25T18:22:35.970Z",
  "updatedAt": "2025-07-25T18:22:35.970Z",
  "id": "tL0TJGCD5YTrOGj3",
  "name": "ASSISTENTE VIRTUAL CLINICA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Automação IA",
        "remoteJid": "={{ $('Recebe  mensagem usuário').item.json.body.data.key.remoteJid.split(\"@\")[0] }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        480,
        112
      ],
      "id": "7e1d9ebd-6f17-4d08-a689-f2260e5c1a4e",
      "name": "Enviar texto"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_wkFobVYdfZnejyfL1HdCqzrq",
          "mode": "list",
          "cachedResultName": "ASSISTENTE VIRTUAL"
        },
        "prompt": "define",
        "text": "={{ $('Recebe  mensagem usuário').item.json.body.data.message.conversation }}",
        "memory": "threadId",
        "threadId": "={{ $json.Thread_id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        160,
        112
      ],
      "id": "bf636632-738e-4743-8453-b0c0b3d19366",
      "name": "Message a model"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  telefone_limpo: $json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\")\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        112
      ],
      "id": "34a92ab9-1f72-4337-a7c4-6130d21badd4",
      "name": "Formatar celular"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "Numero",
              "condition": "eq",
              "keyValue": "={{ $json.telefone_limpo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1072,
        112
      ],
      "id": "ec5f45a5-bfae-477a-b351-8debb760d9b7",
      "name": "Verifica se usuário tem cadastro",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Numero }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "b5af41cd-880f-47d0-bb82-203b6f10dc14"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cadastrado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12c3c7c0-3ae7-4114-9e2f-39b6b1f2efcd",
                    "leftValue": "={{ $json.Numero }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem cadastro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        112
      ],
      "id": "13d23e11-b509-4f17-9a1f-8dc5e38a27b0",
      "name": "Valida se usuário está cadastrado"
    },
    {
      "parameters": {
        "tableId": "Dados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Recebe  mensagem usuário').item.json.body.data.pushName }}"
            },
            {
              "fieldId": "Numero",
              "fieldValue": "={{ $('Formatar celular').item.json.telefone_limpo }}"
            },
            {
              "fieldId": "Atendimento",
              "fieldValue": "Aberto"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -672,
        272
      ],
      "id": "ca18fd97-119c-4263-be0c-738f23b2120f",
      "name": "Cadastra usuário no BD"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -96
      ],
      "id": "0fce7076-fef1-4954-bca3-ac21b860b8c5",
      "name": "Cria a thread"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Verifica se tem thread criada').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Thread_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -96
      ],
      "id": "96aa07c5-e569-4bed-838f-68200bb46228",
      "name": "Salva Thread no BD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a74343c2-df19-4831-a7be-93645c2ea590",
              "leftValue": "={{ $json.Thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        112
      ],
      "id": "c0a51da1-014c-4063-ad31-d59ada417054",
      "name": "Verifica se tem thread criada"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1440,
        112
      ],
      "id": "7d41649f-b1e0-4830-afdc-87e75252c694",
      "name": "Recebe  mensagem usuário",
      "webhookId": "ab3e00e1-c2a9-4c2e-8f40-cd5b9ad9469c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9249dc89-b1bf-4034-a900-73224730cfa9",
              "leftValue": "={{ $json.Atendimento }}",
              "rightValue": "Fechado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        -80
      ],
      "id": "8cb17a9c-65b9-4fb6-a32f-7b3c1975b24b",
      "name": "Verifica atendimento"
    }
  ],
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar celular": {
      "main": [
        [
          {
            "node": "Verifica se usuário tem cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usuário tem cadastro": {
      "main": [
        [
          {
            "node": "Valida se usuário está cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se usuário está cadastrado": {
      "main": [
        [
          {
            "node": "Verifica atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastra usuário no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra usuário no BD": {
      "main": [
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria a thread": {
      "main": [
        [
          {
            "node": "Salva Thread no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem thread criada": {
      "main": [
        [
          {
            "node": "Cria a thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe  mensagem usuário": {
      "main": [
        [
          {
            "node": "Formatar celular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Thread no BD": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica atendimento": {
      "main": [
        [],
        [
          {
            "node": "Verifica se tem thread criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Recebe  mensagem usuário": [
      {
        "json": {
          "headers": {
            "host": "n8n.everaldolima.com.br",
            "user-agent": "axios/1.10.0",
            "content-length": "1039",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "5.161.253.237",
            "cf-ipcountry": "US",
            "cf-ray": "95fb521768b4d69c-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "172.71.194.246",
            "x-forwarded-host": "n8n.everaldolima.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "678825274e56",
            "x-real-ip": "172.71.194.246"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Automação IA",
            "data": {
              "key": {
                "remoteJid": "5513988491908@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0313DBC150C55FB3934",
                "senderLid": "273984704741630@lid"
              },
              "pushName": "Everaldo",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "gGlStNL/Dx5nxA==",
                    "senderTimestamp": "1752337100",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "T1MRQ+uJY03byg==",
                    "recipientTimestamp": "1752180426"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "JB1J4kRb17KIzBzhxMr8cAGoYZN5VObQK7FT8njK9Pw=",
                  "limitSharingV2": {
                    "trigger": "UNKNOWN",
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1752604117,
              "instanceId": "b8ce8df9-fbcd-4249-9ae1-67b9a10a15a5",
              "source": "web"
            },
            "destination": "https://n8n.everaldolima.com.br/webhook-test/clinica",
            "date_time": "2025-07-15T15:28:37.648Z",
            "sender": "5521993232635@s.whatsapp.net",
            "server_url": "https://evo.everaldolima.com.br:8080",
            "apikey": "BAAF972F66A7-4B25-89A1-88C0885871E7"
          },
          "webhookUrl": "https://n8n.everaldolima.com.br/webhook-test/clinica",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "12628e5b-9b55-4570-a697-61dcca9aa3e4",
  "triggerCount": 0,
  "tags": []
}