doc2/backup-workflows-github-.json
{
  "createdAt": "2025-07-25T15:10:17.249Z",
  "updatedAt": "2025-07-28T13:29:43.852Z",
  "id": "YNRC747AVaQZRt4i",
  "name": "Backup Workflows Github",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        816,
        880
      ],
      "id": "6e4096d9-d741-4d18-8ae4-412b3140ec07",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        880
      ],
      "id": "7ce9c57c-f437-44c4-8535-81309799d596",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1968,
        880
      ],
      "id": "c41eec5a-c58c-4809-b001-042329cef24d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1696,
        880
      ],
      "id": "e455528f-0ed9-490e-9440-e04c94ec644f",
      "name": "Retrieve workflows",
      "credentials": {
        "n8nApi": {
          "id": "07qJb0YL0znsEWrC",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2256,
        880
      ],
      "id": "8e4f80ff-a639-4f73-ae32-10d530274931",
      "name": "To base64"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "a90c7577-0f5d-4cc0-8f75-5ac7d2fe585c",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        2896,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "517102d7-3348-49c3-b468-0e405c61acec",
              "name": "commitDate",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}",
              "type": "string"
            },
            {
              "id": "13fb6b5d-3230-47b9-8332-f9c600a96abc",
              "name": "fileName",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        880
      ],
      "id": "6778a64a-5215-4e85-9db0-fabca5ed6c20",
      "name": "Commit date & file name"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "jlima788",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/jlima788/n8n-workflows"
        },
        "filePath": "=doc2/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "642b8a83-eeee-46ec-8578-5bbc69a85de9",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        3344,
        272
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "TBArLMwO4vnbP0Bh",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jlima788",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/jlima788/n8n-workflows"
        },
        "filePath": "=doc2/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "396419f4-3a7f-4f5e-a6b4-8b3c0a884597",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        3376,
        848
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "TBArLMwO4vnbP0Bh",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 2. GitHub - List repository files\n\n### Lista todos os arquivos existentes no repositorio GitHub\nObjetivo: Verificar quais workflows ja possuem backup\nConfiguracao:\n\nRepository: \nOwner: \nBranch: ",
        "height": 480,
        "width": 260,
        "color": 4
      },
      "id": "b675d0e4-a5bc-4931-8e80-fc0b04de1e65",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. Schedule Trigger\n\n### Inicia o workflow automaticamente em horarios programados\nObjetivo: Executar backup diario sem intervencao manual\nConfiguracao: Diario as 00:00",
        "height": 480,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        560
      ],
      "id": "57d9a570-95b8-4df4-9adc-f4c71041406b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 3. Aggregate\n\n### Consolida a lista de nomes de arquivos em um unico item\nObjetivo: Simplificar consultas posteriores para verificacao de existencia\nConfiguracao:\n\nField: name\nMode: Individual Fields",
        "height": 480,
        "color": 3
      },
      "id": "770b1b20-6adb-4feb-9194-62d3a4e9b68d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Retrieve workflows\n\n### Busca todos os workflows ativos da instancia n8n\nObjetivo: Coletar dados completos de cada workflow para backup\nConfiguracao:\n\nResource: Workflow\nOperation: Get Many\nReturn All: Ativado",
        "height": 480,
        "width": 260,
        "color": 6
      },
      "id": "82445182-e20e-4d42-8522-6b1096049f7b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. Convert to File\n\n### Transforma dados JSON em arquivos estruturados\nObjetivo: Preparar cada workflow como arquivo individual\nConfiguracao:\n\nOperation: Convert to JSON\nMode: Each Item to Separate File\nFormat: Ativado",
        "height": 480,
        "width": 260,
        "color": 5
      },
      "id": "851505db-b94d-42c5-adeb-5573256913de",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6. To base64\n\n### Codifica arquivo em base64\nObjetivo: Formato exigido pela API do GitHub para upload\nConfiguracao:\n\nOperation: Move File to Base64 String\nInput Field: data",
        "height": 480,
        "width": 260,
        "color": 2
      },
      "id": "43865daa-0ea8-4098-848e-e2e593929d92",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 7. Commit date & file name\n\n### Gera timestamp e nome padronizado do arquivo\nObjetivo: Criar metadados para organizacao e rastreabilidade\nConfiguracao:\n\ncommitDate: {{ $now.format('dd-MM-yyyy/HH:mm') }}\nfileName: {{ workflow.name + tag }}.json",
        "height": 480,
        "width": 260,
        "color": 4
      },
      "id": "59ffe6a3-2208-4e49-bb0e-5df22974f748",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 8. Check if file exists\n\n### Verifica se arquivo ja existe no repositorio\nObjetivo: Decidir entre criar novo arquivo ou atualizar existente\nConfiguracao:\n\nCondition: Contains\nValue 1: Lista agregada de arquivos\nValue 2: Nome do arquivo atual",
        "height": 480,
        "width": 260,
        "color": 5
      },
      "id": "c343dded-f296-4aec-b169-465af0176a8b",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 9. Update file (Branch TRUE)\n\n### Atualiza arquivo existente no GitHub\nObjetivo: Sobrescrever backup com versao mais recente\nConfiguracao:\n\nOperation: Edit\nFile Path: doc2/{{ fileName }}\nContent: Base64 data\nCommit Message: backup-{{ commitDate }}",
        "height": 480,
        "width": 360,
        "color": 3
      },
      "id": "2e270e1a-a3ad-46f9-984f-5c7cc4690c25",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 10. Upload file (Branch FALSE)\n\n### Cria novo arquivo no GitHub\nObjetivo: Fazer primeiro backup de workflow novo\nConfiguracao:\n\nOperation: Create\nFile Path: doc2/{{ fileName }}\nContent: Base64 data\nCommit Message: backup-{{ commitDate }}",
        "height": 480,
        "width": 360,
        "color": 6
      },
      "id": "ba066565-4562-481b-aa5d-01258c2c2b2f",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Resumo do Fluxo {N8N Backup GitHub}\n# Schedule → List Files → Aggregate → Get Workflows → Convert → Base64 → Set Metadata → IF Exists → Update/Create\n# Resultado: Sistema automatizado que faz backup diario de todos os workflows n8n no GitHub com controle de versao completo.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n# Criador Digital",
        "height": 480,
        "width": 2220,
        "color": 6
      },
      "id": "bbc962f9-20ec-4b72-85d1-33f19b1bc856",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Requisitos - Fluxo de Backup n8n para GitHub\n\n## 1. Instancia n8n\n- n8n ativo (self-hosted ou cloud)\n- API habilitada\n- Pelo menos 1 workflow ativo\n\n## 2. Conta GitHub\n- Conta ativa\n- Repositorio criado\n- Acesso de escrita ao repositorio\n\n## 3. Personal Access Token GitHub\n- Token com permissao **repo**\n- Acesso de leitura/escrita ao repositorio\n- Token valido e nao expirado\n\n## 4. API Key n8n\n- Chave gerada em Settings > API Keys\n- Permissao de leitura de workflows\n- Conectividade com a instancia\n\n## 5. Conectividade\n- Internet estavel\n- Acesso a api.github.com\n- Acesso a instancia n8n\n\n## 6. Informacoes de Configuracao\n- Owner do repositorio GitHub\n- Nome do repositorio\n- Branch (main/master)\n- URL da instancia n8n\n\n## Checklist Rapido\n- [ ] n8n funcionando\n- [ ] Repositorio GitHub criado  \n- [ ] Personal Access Token gerado\n- [ ] API Key n8n criada\n- [ ] Credenciais testadas\n- [ ] Conectividade OK",
        "height": 1080,
        "width": 860,
        "color": 2
      },
      "id": "d4687c04-25ea-469c-8a27-0918d6cdf556",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "jlima788",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/jlima788/n8n-workflows"
        },
        "filePath": "doc2"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1136,
        880
      ],
      "id": "0f2f3a14-b16a-423f-8181-174dee05c8ab",
      "name": "List files",
      "webhookId": "915b3908-14fe-4a55-88b5-b8748cc20b73",
      "credentials": {
        "githubApi": {
          "id": "TBArLMwO4vnbP0Bh",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f2b5cb6f-2ce8-4de5-9eb5-ee0b3e7cc31e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-25T15:10:17.249Z",
      "updatedAt": "2025-07-25T15:10:17.249Z",
      "role": "workflow:owner",
      "workflowId": "YNRC747AVaQZRt4i",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}