doc2/backup-de-workflows-.json
{
  "createdAt": "2025-07-25T14:59:12.495Z",
  "updatedAt": "2025-07-28T13:31:58.792Z",
  "id": "Q4GC6Oglx8S0Zrb0",
  "name": "Backup de Workflows",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        64
      ],
      "id": "b5f9dd75-c21c-4ab9-bb52-308de5d7b5bd",
      "name": "Todos os dias à meia-noite"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -544,
        64
      ],
      "id": "5f731150-1f15-435a-b36b-bcbd675042f4",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "07qJb0YL0znsEWrC",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ $json.name }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -320,
        64
      ],
      "id": "b6be20eb-8a78-4167-b297-0e9038ecf94a",
      "name": "Gera arquivos json dos workflows"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ $binary.data.fileName }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5575aa40-2cc2-412a-b46a-30b697550891",
      "name": "Read/Write Files from Disk",
      "disabled": true
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1vD6vX3fi9ywz-hn4GdYl0v2Wa6rdzbv0",
          "mode": "list",
          "cachedResultName": "BACKUP WORKFLOWS N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vD6vX3fi9ywz-hn4GdYl0v2Wa6rdzbv0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        208
      ],
      "id": "20cf9838-a1ee-4b37-9526-8bdc8aae9478",
      "name": "Salva os Workflows",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8MAiyh89YVmVxJ49",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Todos os dias à meia-noite": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Gera arquivos json dos workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera arquivos json dos workflows": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva os Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Todos os dias à meia-noite": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "42936544-f8d9-4896-8d8c-eb56dae09e42",
  "triggerCount": 1,
  "tags": []
}