doc2/case-1-.json
{
  "createdAt": "2025-06-30T23:37:28.914Z",
  "updatedAt": "2025-07-01T20:37:39.071Z",
  "id": "AO7We33djR40qSlh",
  "name": "Case 1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nComo posso te ajudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -40
      ],
      "id": "4953429d-3af3-4117-a60a-f4fb84566968",
      "name": "When chat message received",
      "webhookId": "e15959d7-27b0-47ec-90a0-31a50e21fe93"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0d5f959-82a9-4065-9df3-6ebeee51557a",
              "name": "idConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "6fbe9630-8fb3-4666-ae4c-c37cc80d614d",
              "name": "mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -40
      ],
      "id": "2ead4066-523d-4abd-b60d-bad942552c0a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar as conversas mais humanizadas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        -40
      ],
      "id": "09e99027-0581-4070-965c-f8dc365b377e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1779IaUG_9DjCAC13msJ_pB3LCsGJjTUNgv_2rVQWCgY",
          "mode": "list",
          "cachedResultName": "Automação N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1779IaUG_9DjCAC13msJ_pB3LCsGJjTUNgv_2rVQWCgY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1779IaUG_9DjCAC13msJ_pB3LCsGJjTUNgv_2rVQWCgY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdConversa": "={{ $json.idConversa }}",
            "Mensagem": "={{ $json.mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdConversa",
              "displayName": "IdConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        -40
      ],
      "id": "f9ddb73f-9976-4666-8aca-3bd3fcbfa41d",
      "name": "Adiciona linha na planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cCDJJSGKMXzPs2pS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        60,
        160
      ],
      "id": "c43b7070-d454-4914-a11b-0bd7994fdbea",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eRfUN1eblvwUOMMV",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        160
      ],
      "id": "0eb7aee1-894d-498f-ad69-3e8510abaa19",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        560,
        160
      ],
      "id": "778c2731-cb2f-421d-acd4-e356ea7e59e2",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "id": "9fa79d97-a336-4796-bedc-806b6e5059c4",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        520,
        -40
      ],
      "id": "dda35009-df25-45ef-97b9-f0267d6836b9",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Adiciona linha na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona linha na planilha": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cb2fa074-d751-4d89-b34e-853be68b41ad",
  "triggerCount": 1,
  "tags": []
}