doc2/controle-sala-de-sinais-.json
{
  "createdAt": "2025-07-07T18:12:02.619Z",
  "updatedAt": "2025-07-08T14:10:03.552Z",
  "id": "1w2AmXxW2sD7Vpwk",
  "name": "Controle Sala de Sinais",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "name": "Split In Batches (Opcional)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -380,
        20
      ],
      "id": "af0833a3-516c-4571-bf35-200d46948ce5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "720f82a5-fb99-49a4-be17-c3a8774e8ee0",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ATIVO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filter - Clientes Ativos (Lembrete)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -180,
        -80
      ],
      "id": "497251a4-6822-43b2-b301-e55228a43642"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $json.Celular }}"
            },
            {
              "name": "message",
              "value": "=Olá {{ $json.Nome }}! Sua assinatura na Kirvano vence em {{ DateTime.fromISO($json.Data_de_Vencimento).toFormat('dd/MM/yyyy') }}. Renove para continuar aproveitando!"
            }
          ]
        },
        "options": {}
      },
      "name": "Set - Mensagem Ativo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        20,
        -80
      ],
      "id": "527bdedf-9cbc-43c0-806b-28522d5923ce"
    },
    {
      "parameters": {
        "operation": "update",
        "options": {}
      },
      "name": "Google Sheets - Atualizar Lembrete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        420,
        -80
      ],
      "id": "5848288c-d5e9-49b6-9771-7408bdf98ac7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cCDJJSGKMXzPs2pS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3c4f01d3-9757-4939-9ee2-93a42e324f22",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "INATIVO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filter - Clientes Inativos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -180,
        120
      ],
      "id": "5788005d-b4f0-4fe6-9114-cd016c1e16b9"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $json.Celular }}"
            },
            {
              "name": "message",
              "value": "=Olá {{ $json.Nome }}! Percebemos que sua assinatura na Kirvano está inativa. Gostaríamos de saber se você tem interesse em reativar e continuar aproveitando nossos benefícios! Responda para saber mais."
            }
          ]
        },
        "options": {}
      },
      "name": "Set - Mensagem Inativo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        20,
        120
      ],
      "id": "aa82cab8-5613-4939-afa8-5bdcb10620e7"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -780,
        20
      ],
      "id": "07a72661-ec16-4b85-8863-2e19954a78db",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gzm1PwXIK1wHVZ0ej2YTbRlQKWyci8HMyJc_QyOsLNs",
          "mode": "list",
          "cachedResultName": "Clientes Sala XAUUSD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzm1PwXIK1wHVZ0ej2YTbRlQKWyci8HMyJc_QyOsLNs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gzm1PwXIK1wHVZ0ej2YTbRlQKWyci8HMyJc_QyOsLNs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -580,
        20
      ],
      "id": "f65fc1f9-b92a-4e42-8d0e-19a0ea1fdea1",
      "name": "Google Sheets - Ler Clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cCDJJSGKMXzPs2pS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.everaldolima.com.br/message/sendText/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "A4FBF5D7C817-46C1-8275-8CD37271A6F2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Celular }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -80
      ],
      "id": "4820684c-3c2e-4b9a-8d71-06964368ec5a",
      "name": "HTTP Request - WhatsApp Ativo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.everaldolima.com.br/message/sendText/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "A4FBF5D7C817-46C1-8275-8CD37271A6F2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Celular }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        120
      ],
      "id": "e1d2f2ea-5594-480e-892f-5a62f8a027b8",
      "name": "HTTP Request - WhatsApp Inativo"
    }
  ],
  "connections": {
    "Split In Batches (Opcional)": {
      "main": [
        [
          {
            "node": "Filter - Clientes Ativos (Lembrete)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter - Clientes Inativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Clientes Ativos (Lembrete)": {
      "main": [
        [
          {
            "node": "Set - Mensagem Ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensagem Ativo": {
      "main": [
        [
          {
            "node": "HTTP Request - WhatsApp Ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Clientes Inativos": {
      "main": [
        [
          {
            "node": "Set - Mensagem Inativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Mensagem Inativo": {
      "main": [
        [
          {
            "node": "HTTP Request - WhatsApp Inativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets - Ler Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Ler Clientes": {
      "main": [
        [
          {
            "node": "Split In Batches (Opcional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - WhatsApp Ativo": {
      "main": [
        [
          {
            "node": "Google Sheets - Atualizar Lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8414c320-d5ea-442a-8ff3-cfca1ede7c47",
  "triggerCount": 0,
  "tags": []
}