doc2/dieta-ia-.json
{
  "createdAt": "2025-07-25T17:30:27.213Z",
  "updatedAt": "2025-07-25T17:30:27.213Z",
  "id": "yzaA9h4JvSMAoyuS",
  "name": "Dieta IA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2432,
        -880
      ],
      "id": "595f1e9f-9b66-46af-9da4-edadf213ddf0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1eba45-6e41-4a6e-af4c-07935adfe9b6",
              "name": "data",
              "value": "={{ $('Pagamento').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        -1088
      ],
      "id": "6e8b7012-d0d8-47b9-9e95-e313366db709",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1eba45-6e41-4a6e-af4c-07935adfe9b6",
              "name": "data",
              "value": "={{ $('Pagamento').item.json.body.data.message.base64 || $('Pagamento').item.json.body.data.message.imageMessage.jpegThumbnail }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        -912
      ],
      "id": "75b4fe5d-8c53-4e81-8793-e91527ee05ee",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What is in this image?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2800,
        -912
      ],
      "id": "c40eb9d4-7923-47e1-86eb-4cc636b71b5a",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2976,
        -912
      ],
      "id": "9c8065c3-dbcf-4d2e-9722-beaf55093ac1",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2592,
        -1088
      ],
      "id": "168d9aa2-2185-4de8-a0b6-c7cdce3276bc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35160309-044c-4a38-b609-d15dbc54f26d",
              "name": "text",
              "value": "={{ $('Info user').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -1248
      ],
      "id": "390da9d5-ce04-4ce7-9163-37c5384c813d",
      "name": "Edit Fields3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2800,
        -1088
      ],
      "id": "0d349665-8c5f-4746-a7fd-8d1ed0d3e661",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2976,
        -1088
      ],
      "id": "ca6d5c81-ca1c-4650-9c3e-e7f2533f090d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].text || $json.data[0].content }}",
        "options": {
          "systemMessage": "=Você é um assistente nutricional especializado em análise visual de alimentos. Sua função é identificar os alimentos presentes em fotos, estimar suas quantidades aproximadas e gerar uma mensagem clara e organizada com os seguintes dados nutricionais:\n\n1. **Divisão das refeições do dia**, com emoji ilustrativo e nome da refeição (ex: 🍽️ Almoço, 🍪 Lanche da tarde, 🌙 Jantar).\n\n2. Para cada refeição, liste os alimentos com quantidades estimadas.\n\n3. Calcule e mostre os valores nutricionais estimados para cada refeição:\n\n   * Proteína (g)\n   * Carboidrato (g)\n   * Gordura (g)\n   * Fibras (g)\n   * Calorias totais (kcal)\n\n4. No final da resposta, gere um resumo com os **totais diários**, somando todos os macronutrientes e calorias:\n\n   * 🍗 Proteínas\n   * 🍞 Carboidratos\n   * 🥓 Gorduras\n   * 🥬 Fibras\n   * 🍽️ Calorias ingeridas\n\n**Formato do texto**: Utilize uma linguagem informal e amigável, clara e com emojis para facilitar a leitura. Os dados devem ser organizados com espaçamento e destaque nos nomes das refeições.\n\n**Exemplo de estrutura esperada:**\n\n```\n🍽️ Almoço:\n100g Arroz cozido 🍚  \n100g Frango desfiado 🍗  \n3 Colheres Feijão 🥄\n\n(39 g proteína 41 g carboidrato 4 g gordura 5 g fibras 367 kcal)\n\n🍪 Lanche da tarde:\n1x Maçã 🍎  \n1x Laranja 🍊\n\n(2 g proteína 40 g carboidrato 1 g gordura 7 g fibras 157 kcal)\n\n🌙 Jantar:\n100g Batata doce 🍠  \n100g Frango desfiado 🍗\n\n(33 g proteína 20 g carboidrato 4 g gordura 3 g fibras 251 kcal)\n\n🍭 Total hoje:\n🍗 Proteínas: 87 g  \n🍞 Carboidratos: 162 g  \n🥓 Gorduras: 18 g  \n🥬 Fibras: 23 g  \n🍽️ Ingeridas: 1149 kcal\n```\n\nCaso a imagem tenha baixa nitidez ou alimentos difíceis de identificar, indique a incerteza com uma frase breve no início da resposta, como:\n*\"Identificação estimada com base na imagem enviada.\"*\n\nIMPORTANTE:\n- renomei a descrição do Divisão das refeições do dia com base na data/hora atual.\n- não adicione itens, considere apenas os informados pelo usuário.\n\nData/Hora atual: {{ new Date().toISOString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2400,
        -1088
      ],
      "id": "99339087-7eec-4095-8494-30acca3d0f08",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54bb1bf2-3ea5-4af5-8cf1-8707a51a87ce",
              "name": "name",
              "value": "={{ $json.body.customer.name }}",
              "type": "string"
            },
            {
              "id": "045956e0-341c-4b91-bf69-fe901a7241aa",
              "name": "phone_number",
              "value": "={{ $json.body.customer.phone_number }}",
              "type": "string"
            },
            {
              "id": "86a6f624-5d87-4fd2-8eb6-bed5e025a4db",
              "name": "email",
              "value": "={{ $json.body.customer.email }}",
              "type": "string"
            },
            {
              "id": "61720a4b-c35f-48f3-bdb4-db3f3efa56a2",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4704,
        -256
      ],
      "id": "71020e66-5c75-4ff4-bbe5-cbf59ef18e3d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4928,
        -256
      ],
      "id": "e5fe7234-f77c-4223-961c-1631fc23185d",
      "name": "Pagamento",
      "webhookId": "4e5782d6-e982-4f93-9ee7-2a8dc814df42"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67de626c-e964-4971-a973-6508eb596581",
              "leftValue": "={{ $json.status }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4496,
        -256
      ],
      "id": "ba7985f6-1b68-4fab-9353-96c65206699f",
      "name": "Pago?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "isPremium",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4224,
        -368
      ],
      "id": "0302e775-3d0b-4b23-8ced-0e6bbfc6a26e",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "isPremium",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4208,
        -128
      ],
      "id": "1d14bb4e-e9e2-4bf7-80a7-c7dfe773a49a",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4912,
        -960
      ],
      "id": "723d50da-756e-4e11-95aa-1dc61d9bbbaf",
      "name": "Chat",
      "webhookId": "695c5699-ab0f-45cd-b142-680a6829dd0c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18cc99cd-5989-4296-8798-14c21221d03e",
              "leftValue": "={{ $('Info user').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4256,
        -960
      ],
      "id": "f8dce9df-aa78-475b-a91c-74c54f9c332d",
      "name": "É cadastrado?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4688,
        -960
      ],
      "id": "5fa76b6f-5123-4a1d-b40e-a2da42637a50",
      "name": "Buscar user",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cabdc73e-d356-4d9a-9507-a37e53cd2380",
              "leftValue": "={{ $('Info user').item.json.isPremium }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        -1088
      ],
      "id": "397084de-7641-41ba-a2fc-a9d8dc639549",
      "name": "É teste?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f20f482-00dd-490d-8b3e-c6fe3372ae3d",
              "name": "remoteJid",
              "value": "={{ $('Chat').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}",
              "type": "string"
            },
            {
              "id": "926428c8-7e2a-40dd-9ec4-15dd1105f776",
              "name": "messageType",
              "value": "={{ $('Chat').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "c8368065-f7f8-4668-8098-514b6cc60db4",
              "name": "conversation",
              "value": "={{ $('Chat').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "37211fe6-4a1a-45f9-b4d7-b9140949d196",
              "name": "url",
              "value": "={{ $('Chat').item.json.body.data.message.imageMessage.jpegThumbnail }}",
              "type": "string"
            },
            {
              "id": "3c6afe9f-f8d3-4258-b638-da9e0059ccbe",
              "name": "isPremium",
              "value": "={{ $json.isPremium }}",
              "type": "boolean"
            },
            {
              "id": "6f349aa3-af95-4d47-b08e-1dbfd0705f7f",
              "name": "qtdMensagem",
              "value": "={{ $json.qtdMensagem }}",
              "type": "number"
            },
            {
              "id": "40bb2e64-c73c-4ea4-8ce3-d1f74def9a4e",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4480,
        -960
      ],
      "id": "2e5d1b86-5aa4-4d9d-b8ed-9ca20f2567fd",
      "name": "Info user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3c2f656-d269-4152-be87-98a21e2dfd70",
              "leftValue": "={{ $json.isPremium }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9804abac-be4e-4987-8b4b-5bd57fc2faa0",
              "leftValue": "={{ $json.qtdMensagem }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3856,
        -1232
      ],
      "id": "1eaeb239-ff72-4882-b384-1da7a8590081",
      "name": "Tem acesso?"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "automacao-ia",
        "remoteJid": "={{ $('Info user').item.json.remoteJid }}",
        "messageText": "=🚫 Você já usou todas as mensagens do teste grátis.\n✨ Para continuar usando, faça upgrade para o plano Premium.\n🔗 Assine aqui: https://seusite.com/upgrade",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3616,
        -992
      ],
      "id": "ae81a2d7-c2ab-4c14-bcca-26d87f8f9612",
      "name": "Mensagem não acesso",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "automacao-ia",
        "remoteJid": "={{ $('Info user').item.json.remoteJid }}",
        "messageText": "=📌 Ao continuar, você concorda com nossos Termos de Uso e Política de Privacidade.\n🔗 Termos de Uso: https://seusite.com/termos\n🔗 Política de Privacidade: https://seusite.com/privacidade",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3888,
        -672
      ],
      "id": "915e2a27-ee6c-476b-81d7-4a2ff85c1973",
      "name": "Mensagem politica e privacidade",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Info user').item.json.remoteJid }}"
            },
            {
              "fieldId": "isPremium",
              "fieldValue": "false"
            },
            {
              "fieldId": "qtdMensagem",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3680,
        -672
      ],
      "id": "8a7c90fc-0f89-4296-b17f-f2a4fafb97dd",
      "name": "Criar user",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info user').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6e954b35-6368-4ce8-a970-82a7da3f9938"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c8fae2b8-f0c1-4f46-9654-5b2d1e27ffc2",
                    "leftValue": "={{ $('Info user').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d935230-037e-48cc-b662-50122dbd9c3d",
                    "leftValue": "={{ $('Info user').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3360,
        -1232
      ],
      "id": "df147f08-d77b-4eda-a3b4-c9fd2ec55a37",
      "name": "Filtrar tipo de mensagem"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $('Info user').item.json.remoteJid.replace('@s.whatsapp.net','') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "qtdMensagem",
              "fieldValue": "={{ $('Info user').item.json.qtdMensagem + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1600,
        -1200
      ],
      "id": "c62d5b57-0d36-4d54-8838-8ec96bccc17b",
      "name": "Atualizar qtd de mensagens",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "automacao-ia",
        "remoteJid": "={{ $('Info user').item.json.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2032,
        -1088
      ],
      "id": "0f84da32-550f-4f1b-a734-04b20316a61d",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Pago?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pago?": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Buscar user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É cadastrado?": {
      "main": [
        [
          {
            "node": "Tem acesso?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem politica e privacidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar user": {
      "main": [
        [
          {
            "node": "Info user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info user": {
      "main": [
        [
          {
            "node": "É cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É teste?": {
      "main": [
        [
          {
            "node": "Atualizar qtd de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem acesso?": {
      "main": [
        [
          {
            "node": "Filtrar tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem não acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem politica e privacidade": {
      "main": [
        [
          {
            "node": "Criar user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar tipo de mensagem": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "É teste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9de2a331-b24d-41d9-b666-7120f3d11586",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-25T17:30:27.213Z",
      "updatedAt": "2025-07-25T17:30:27.213Z",
      "role": "workflow:owner",
      "workflowId": "yzaA9h4JvSMAoyuS",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}