doc2/dieta-ia-.json
{
  "createdAt": "2025-07-07T15:05:15.149Z",
  "updatedAt": "2025-07-07T15:10:08.512Z",
  "id": "knlzrZiYTG9e4eBs",
  "name": "Dieta IA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        380
      ],
      "id": "361189aa-d04c-40d3-8f1c-9ec7987cccb3",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1eba45-6e41-4a6e-af4c-07935adfe9b6",
              "name": "data",
              "value": "={{ $('Pagamento').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        160
      ],
      "id": "23910417-ca7b-40de-9178-e515613903e7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1eba45-6e41-4a6e-af4c-07935adfe9b6",
              "name": "data",
              "value": "={{ $('Pagamento').item.json.body.data.message.base64 || $('Pagamento').item.json.body.data.message.imageMessage.jpegThumbnail }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        340
      ],
      "id": "1894fffc-962f-4a26-997f-fd2baf85e5d2",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What is in this image?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        340
      ],
      "id": "5a4d2593-7191-4751-8ccd-6dd6105aa2a6",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -180,
        340
      ],
      "id": "4fe746e9-e467-4875-b532-f4591d16d56b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        200,
        160
      ],
      "id": "1809a6f6-d579-4c8b-a6d1-5bd145f0a5d3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35160309-044c-4a38-b609-d15dbc54f26d",
              "name": "text",
              "value": "={{ $('Info user').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "89087271-d6ba-411d-b36c-e604bbca2bb5",
      "name": "Edit Fields3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        160
      ],
      "id": "8c0b78e7-6bbd-431f-96c4-e52e29caad07",
      "name": "OpenAI2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -180,
        160
      ],
      "id": "92574771-7634-462e-b382-27de4a761480",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].text || $json.data[0].content }}",
        "options": {
          "systemMessage": "=Você é um assistente nutricional especializado em análise visual de alimentos. Sua função é identificar os alimentos presentes em fotos, estimar suas quantidades aproximadas e gerar uma mensagem clara e organizada com os seguintes dados nutricionais:\n\n1. **Divisão das refeições do dia**, com emoji ilustrativo e nome da refeição (ex: 🍽️ Almoço, 🍪 Lanche da tarde, 🌙 Jantar).\n\n2. Para cada refeição, liste os alimentos com quantidades estimadas.\n\n3. Calcule e mostre os valores nutricionais estimados para cada refeição:\n\n   * Proteína (g)\n   * Carboidrato (g)\n   * Gordura (g)\n   * Fibras (g)\n   * Calorias totais (kcal)\n\n4. No final da resposta, gere um resumo com os **totais diários**, somando todos os macronutrientes e calorias:\n\n   * 🍗 Proteínas\n   * 🍞 Carboidratos\n   * 🥓 Gorduras\n   * 🥬 Fibras\n   * 🍽️ Calorias ingeridas\n\n**Formato do texto**: Utilize uma linguagem informal e amigável, clara e com emojis para facilitar a leitura. Os dados devem ser organizados com espaçamento e destaque nos nomes das refeições.\n\n**Exemplo de estrutura esperada:**\n\n```\n🍽️ Almoço:\n100g Arroz cozido 🍚  \n100g Frango desfiado 🍗  \n3 Colheres Feijão 🥄\n\n(39 g proteína 41 g carboidrato 4 g gordura 5 g fibras 367 kcal)\n\n🍪 Lanche da tarde:\n1x Maçã 🍎  \n1x Laranja 🍊\n\n(2 g proteína 40 g carboidrato 1 g gordura 7 g fibras 157 kcal)\n\n🌙 Jantar:\n100g Batata doce 🍠  \n100g Frango desfiado 🍗\n\n(33 g proteína 20 g carboidrato 4 g gordura 3 g fibras 251 kcal)\n\n🍭 Total hoje:\n🍗 Proteínas: 87 g  \n🍞 Carboidratos: 162 g  \n🥓 Gorduras: 18 g  \n🥬 Fibras: 23 g  \n🍽️ Ingeridas: 1149 kcal\n```\n\nCaso a imagem tenha baixa nitidez ou alimentos difíceis de identificar, indique a incerteza com uma frase breve no início da resposta, como:\n*\"Identificação estimada com base na imagem enviada.\"*\n\nIMPORTANTE:\n- renomei a descrição do Divisão das refeições do dia com base na data/hora atual.\n- não adicione itens, considere apenas os informados pelo usuário.\n\nData/Hora atual: {{ new Date().toISOString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        400,
        160
      ],
      "id": "8f860b89-ccdc-4f41-a2fa-059fcd4a0539",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "<sua instancia>",
        "remoteJid": "={{ $('Info user').item.json.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        760,
        160
      ],
      "id": "d04ddf81-10fc-4161-b8cd-93b07a91e24f",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "wDLKzaLPE1UlobfZ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54bb1bf2-3ea5-4af5-8cf1-8707a51a87ce",
              "name": "name",
              "value": "={{ $json.body.customer.name }}",
              "type": "string"
            },
            {
              "id": "045956e0-341c-4b91-bf69-fe901a7241aa",
              "name": "phone_number",
              "value": "={{ $json.body.customer.phone_number }}",
              "type": "string"
            },
            {
              "id": "86a6f624-5d87-4fd2-8eb6-bed5e025a4db",
              "name": "email",
              "value": "={{ $json.body.customer.email }}",
              "type": "string"
            },
            {
              "id": "61720a4b-c35f-48f3-bdb4-db3f3efa56a2",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1980,
        1380
      ],
      "id": "adc21674-e2d7-4f8b-8018-4e156a072357",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2200,
        1380
      ],
      "id": "656580d0-b5d8-45ee-b3a1-bb6d2e586ec5",
      "name": "Pagamento",
      "webhookId": "4e5782d6-e982-4f93-9ee7-2a8dc814df42"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67de626c-e964-4971-a973-6508eb596581",
              "leftValue": "={{ $json.status }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1760,
        1380
      ],
      "id": "b6a168f4-00ae-49f8-91c7-b4551ecdc411",
      "name": "Pago?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "isPremium",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1500,
        1260
      ],
      "id": "be24d352-7b2d-4b8d-99fd-bfbc95660b80",
      "name": "Supabase"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "isPremium",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1480,
        1500
      ],
      "id": "e298c916-834b-4cc1-9140-41ad2f064d03",
      "name": "Supabase1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2120,
        300
      ],
      "id": "6cb3abe8-243f-4aa1-924d-1f13601e6b76",
      "name": "Chat",
      "webhookId": "695c5699-ab0f-45cd-b142-680a6829dd0c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18cc99cd-5989-4296-8798-14c21221d03e",
              "leftValue": "={{ $('Info user').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1460,
        300
      ],
      "id": "e03193bc-0ca3-41c2-ab7d-e80610e82a04",
      "name": "É cadastrado?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1900,
        300
      ],
      "id": "67389ecb-06f2-4fc0-bbe2-5d05844d6802",
      "name": "Buscar user",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cabdc73e-d356-4d9a-9507-a37e53cd2380",
              "leftValue": "={{ $('Info user').item.json.isPremium }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        160
      ],
      "id": "42d12f90-ae8b-43e3-8765-77faa4f23c88",
      "name": "É teste?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f20f482-00dd-490d-8b3e-c6fe3372ae3d",
              "name": "remoteJid",
              "value": "={{ $('Chat').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}",
              "type": "string"
            },
            {
              "id": "926428c8-7e2a-40dd-9ec4-15dd1105f776",
              "name": "messageType",
              "value": "={{ $('Chat').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "c8368065-f7f8-4668-8098-514b6cc60db4",
              "name": "conversation",
              "value": "={{ $('Chat').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "37211fe6-4a1a-45f9-b4d7-b9140949d196",
              "name": "url",
              "value": "={{ $('Chat').item.json.body.data.message.imageMessage.jpegThumbnail }}",
              "type": "string"
            },
            {
              "id": "3c6afe9f-f8d3-4258-b638-da9e0059ccbe",
              "name": "isPremium",
              "value": "={{ $json.isPremium }}",
              "type": "boolean"
            },
            {
              "id": "6f349aa3-af95-4d47-b08e-1dbfd0705f7f",
              "name": "qtdMensagem",
              "value": "={{ $json.qtdMensagem }}",
              "type": "number"
            },
            {
              "id": "40bb2e64-c73c-4ea4-8ce3-d1f74def9a4e",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        300
      ],
      "id": "c40babe2-4ac0-4505-af15-ac78ff59d944",
      "name": "Info user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3c2f656-d269-4152-be87-98a21e2dfd70",
              "leftValue": "={{ $json.isPremium }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9804abac-be4e-4987-8b4b-5bd57fc2faa0",
              "leftValue": "={{ $json.qtdMensagem }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        20
      ],
      "id": "223267c3-db52-4673-8b42-f3e27ef5b6cf",
      "name": "Tem acesso?"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "<sua instancia>",
        "remoteJid": "={{ $('Info user').item.json.remoteJid }}",
        "messageText": "=🚫 Você já usou todas as mensagens do teste grátis.\n✨ Para continuar usando, faça upgrade para o plano Premium.\n🔗 Assine aqui: https://seusite.com/upgrade",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -820,
        260
      ],
      "id": "9c3f259d-87de-4b83-8077-cc21dd8bd099",
      "name": "Mensagem não acesso",
      "credentials": {
        "evolutionApi": {
          "id": "wDLKzaLPE1UlobfZ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "<sua instancia>",
        "remoteJid": "={{ $('Info user').item.json.remoteJid }}",
        "messageText": "=📌 Ao continuar, você concorda com nossos Termos de Uso e Política de Privacidade.\n🔗 Termos de Uso: https://seusite.com/termos\n🔗 Política de Privacidade: https://seusite.com/privacidade",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1100,
        580
      ],
      "id": "61dd3511-890a-4938-904d-6067372210ef",
      "name": "Mensagem politica e privacidade"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Info user').item.json.remoteJid }}"
            },
            {
              "fieldId": "isPremium",
              "fieldValue": "false"
            },
            {
              "fieldId": "qtdMensagem",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        580
      ],
      "id": "6714de14-5c54-42de-a0f9-fe3700f28131",
      "name": "Criar user"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info user').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6e954b35-6368-4ce8-a970-82a7da3f9938"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c8fae2b8-f0c1-4f46-9654-5b2d1e27ffc2",
                    "leftValue": "={{ $('Info user').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d935230-037e-48cc-b662-50122dbd9c3d",
                    "leftValue": "={{ $('Info user').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        20
      ],
      "id": "df55501f-6b85-4672-932d-5bba17cf9e0b",
      "name": "Filtrar tipo de mensagem"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $('Info user').item.json.remoteJid.replace('@s.whatsapp.net','') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "qtdMensagem",
              "fieldValue": "={{ $('Info user').item.json.qtdMensagem + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        60
      ],
      "id": "f7fb0445-92b0-4b13-9be9-d5de7f4f8c29",
      "name": "Atualizar qtd de mensagens"
    }
  ],
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Pago?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pago?": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Buscar user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É cadastrado?": {
      "main": [
        [
          {
            "node": "Tem acesso?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem politica e privacidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar user": {
      "main": [
        [
          {
            "node": "Info user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "É teste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info user": {
      "main": [
        [
          {
            "node": "É cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É teste?": {
      "main": [
        [
          {
            "node": "Atualizar qtd de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem acesso?": {
      "main": [
        [
          {
            "node": "Filtrar tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem não acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem politica e privacidade": {
      "main": [
        [
          {
            "node": "Criar user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar tipo de mensagem": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "18ef4e53-ea8b-462d-a61e-0aa696385660",
  "triggerCount": 0,
  "tags": []
}