doc2/extrator-pró-.json
{
  "createdAt": "2025-09-12T18:10:10.021Z",
  "updatedAt": "2025-09-12T19:35:57.850Z",
  "id": "ItLc4JiR0bKVLDhI",
  "name": "Extrator Pró",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0c6a501-c1a4-4edc-b011-4091e27297bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        304
      ],
      "id": "acaa4fbc-4a33-4c9a-9943-95a1557339ca",
      "name": "Webhook",
      "webhookId": "b0c6a501-c1a4-4edc-b011-4091e27297bf"
    },
    {
      "parameters": {
        "jsCode": "// Adaptado para funcionar corretamente no n8n\n\n// Pega os dados do body enviado pelo Webhook\nconst empresas = items[0].json.body || [];\n\nreturn empresas.map(emp => {\n  // Remove tudo que não for dígito\n  const apenasDigitos = String(emp.telefone || '').replace(/\\D/g, '');\n\n  // Garante que comece com 55\n  const comPais = apenasDigitos.startsWith('55')\n    ? apenasDigitos\n    : `55${apenasDigitos}`;\n\n  // Gera jid_12 e jid_13 corretamente\n  const ddd = comPais.slice(2, 4);\n  const numeroSemDDD = comPais.slice(4);\n\n  const jid_12 = `${comPais}@s.whatsapp.net`;\n  const jid_13 = `55${ddd}9${numeroSemDDD}@s.whatsapp.net`;\n\n  return {\n    json: {\n      nome_empresa: emp.nome_empresa || '',\n      endereco: emp.endereco || '',\n      website: emp.website || '',\n      rating: emp.rating || '',\n      reviews: emp.reviews || '',\n      especialidades: emp.especialidades || '',\n      telefone_original: emp.telefone || '',\n      jid_12,\n      jid_13\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        304
      ],
      "id": "92093f34-35a0-4af0-8185-b2e13df3d84f",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Extrator Evolua Pró",
        "height": 940,
        "width": 3760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        32
      ],
      "id": "e305d53d-6afb-4daa-bba3-dc0ea8666784",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ABASTECIMENTO Extrator Pró",
        "height": 80,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        32
      ],
      "typeVersion": 1,
      "id": "1dc3a18c-bace-44c3-b009-b00a80a742b2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78f34ae6-559a-44d5-bb2e-90a22caa6d93",
              "name": "remote_jid_12",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n\n    // Remove o 9 só se ele estiver no início do número\n    if (numero.startsWith('9') && numero.length === 9) {\n      numero = numero.slice(1);\n    }\n\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })() \n}}",
              "type": "string"
            },
            {
              "id": "9d3dfda4-9461-4da1-9efa-ad5744ac48ff",
              "name": "remote_jid_13",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n\n    // Adiciona o 9 apenas se ainda não começar com 9\n    if (!numero.startsWith('9')) {\n      numero = '9' + numero;\n    }\n\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        336
      ],
      "id": "8a8ebaf6-b53c-4e3a-a34c-48ec84319030",
      "name": "SETA_12_13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').item.json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('DADOS').item.json.api_key_evolution }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').first().json.remote_jid_12.trim() }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        336
      ],
      "id": "6ad4d7a3-cdcb-4011-9186-ea2131cbc9c2",
      "name": "Check JID 12",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        304
      ],
      "id": "59b497a6-0064-4a8c-ad39-b848984ed73a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa10db6d-a9eb-4fe4-b9ef-d187369e2b5e",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        176
      ],
      "id": "54801857-0624-441c-a15c-9230e5a45497",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbe31f74-4905-47a1-bda3-635a665a8ed5",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2176,
        560
      ],
      "id": "2590f541-8a2e-4bcd-b2bf-f215be5786c3",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').first().json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('DADOS').item.json.api_key_evolution }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').item.json.remote_jid_13.trim() }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        416
      ],
      "id": "fd047dfe-ac6b-4069-a9fe-3e11dfc1b588",
      "name": "Check JID 13",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15-OMaz8cWiTHjfk8Ay4fbjHCYOjPTyqfbXFyYo1mzg4",
          "mode": "list",
          "cachedResultName": "Leads - Google Maps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-OMaz8cWiTHjfk8Ay4fbjHCYOjPTyqfbXFyYo1mzg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qiek_QzsZPNzC4DYGEkYK_luMLN2M4svjY_AAREdNW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_empresa": "={{ $('Loop Over Items').item.json.nome_empresa }}",
            "telefone": "={{ $('If').first().json.jid }}",
            "endereco": "={{ $('Loop Over Items').item.json.endereco }}",
            "website": "={{ $('Loop Over Items').item.json.website }}",
            "rating": "={{ $('Loop Over Items').item.json.rating }}",
            "reviews": "={{ $('Loop Over Items').item.json.reviews }}",
            "especialidades": "={{ $('Loop Over Items').item.json.especialidades }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_empresa",
              "displayName": "nome_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "especialidades",
              "displayName": "especialidades",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disparo",
              "displayName": "disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2944,
        672
      ],
      "id": "7242f7aa-88a5-4474-8b77-aafc80edf1f2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nfGoy3UranCgi3Hm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54ace6d-93b9-4219-b7bc-c01baabc41ad",
              "name": "url_do_evolution",
              "value": "https://x2id7y0t-evolution.cloudfy.cloud",
              "type": "string"
            },
            {
              "id": "ed523a0c-b1d7-4d15-957e-e08b22c64143",
              "name": "api_key_evolution",
              "value": "8E608EF03906-452B-BF12-086B38CFC90A",
              "type": "string"
            },
            {
              "id": "8e88f47d-aef0-4c73-bcb9-025aebfc837b",
              "name": "instancia_evolution",
              "value": "n8n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        304
      ],
      "id": "b5928f24-69e5-4d22-bfb1-04ddc06f0d3b",
      "name": "DADOS"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "e2d24035-16b9-411f-978f-1e9a76014d02",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3184,
        672
      ],
      "id": "d6256ab4-1c15-4417-a18f-96983559df7c",
      "name": "Wait",
      "webhookId": "1670e064-8750-49a0-a3ab-4d79a9e324a1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15-OMaz8cWiTHjfk8Ay4fbjHCYOjPTyqfbXFyYo1mzg4",
          "mode": "list",
          "cachedResultName": "Leads - Google Maps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-OMaz8cWiTHjfk8Ay4fbjHCYOjPTyqfbXFyYo1mzg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10L-HNkOwldPGuCHed2eHheYfXbWxLhaERqlnwAwFl90/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefone",
              "lookupValue": "={{ $json.jid }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2448,
        160
      ],
      "id": "38546941-9fea-47d2-a99c-e5bc43e354ed",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nfGoy3UranCgi3Hm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9949dc12-7010-4366-9596-a8412e0f7797",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        432
      ],
      "id": "c0e190eb-ebd7-4776-b3cc-a5079f33054a",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        592
      ],
      "id": "a40a075b-ad68-4258-946b-b9d0fb6522bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        64
      ],
      "id": "e190d2f5-5853-4b5c-a08b-b586b941c8b2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2448,
        672
      ],
      "id": "e48f65e0-c721-4e42-9beb-c58509966324",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETA_12_13": {
      "main": [
        [
          {
            "node": "Check JID 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JID 12": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SETA_12_13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check JID 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JID 13": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c44f8825-4c84-46f5-a9c3-8319d22727de",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-12T18:10:10.021Z",
      "updatedAt": "2025-09-12T18:10:10.021Z",
      "role": "workflow:owner",
      "workflowId": "ItLc4JiR0bKVLDhI",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}