doc2/extrator-pró---atualizado-.json
{
  "createdAt": "2025-08-03T01:40:30.390Z",
  "updatedAt": "2025-08-03T01:42:20.463Z",
  "id": "9hpX4NWfFeLAXdgi",
  "name": "Extrator Pró - Atualizado",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0c6a501-c1a4-4edc-b011-4091e27297bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        256
      ],
      "id": "680d036f-d442-4d3e-9d12-40c1e666b26d",
      "name": "Webhook",
      "webhookId": "b0c6a501-c1a4-4edc-b011-4091e27297bf"
    },
    {
      "parameters": {
        "jsCode": "// Adaptado para funcionar corretamente no n8n\n\n// Pega os dados do body enviado pelo Webhook\nconst empresas = items[0].json.body || [];\n\nreturn empresas.map(emp => {\n  // Remove tudo que não for dígito\n  const apenasDigitos = String(emp.telefone || '').replace(/\\D/g, '');\n\n  // Garante que comece com 55\n  const comPais = apenasDigitos.startsWith('55')\n    ? apenasDigitos\n    : `55${apenasDigitos}`;\n\n  // Gera jid_12 e jid_13 corretamente\n  const ddd = comPais.slice(2, 4);\n  const numeroSemDDD = comPais.slice(4);\n\n  const jid_12 = `${comPais}@s.whatsapp.net`;\n  const jid_13 = `55${ddd}9${numeroSemDDD}@s.whatsapp.net`;\n\n  return {\n    json: {\n      nome_empresa: emp.nome_empresa || '',\n      endereco: emp.endereco || '',\n      website: emp.website || '',\n      rating: emp.rating || '',\n      reviews: emp.reviews || '',\n      especialidades: emp.especialidades || '',\n      telefone_original: emp.telefone || '',\n      jid_12,\n      jid_13\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        256
      ],
      "id": "75e27c17-f548-4e9b-afd2-fe77b160c4ba",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Extrator Evolua Pró",
        "height": 940,
        "width": 3760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "63bbb93e-17f9-4755-918e-168d6072ad28",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ABASTECIMENTO Extrator Pró",
        "height": 80,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -16
      ],
      "typeVersion": 1,
      "id": "ebb2e847-42c3-46d1-89fb-1c8edce1cd3b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78f34ae6-559a-44d5-bb2e-90a22caa6d93",
              "name": "remote_jid_12",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n\n    // Remove o 9 só se ele estiver no início do número\n    if (numero.startsWith('9') && numero.length === 9) {\n      numero = numero.slice(1);\n    }\n\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })() \n}}",
              "type": "string"
            },
            {
              "id": "9d3dfda4-9461-4da1-9efa-ad5744ac48ff",
              "name": "remote_jid_13",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n\n    // Adiciona o 9 apenas se ainda não começar com 9\n    if (!numero.startsWith('9')) {\n      numero = '9' + numero;\n    }\n\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        272
      ],
      "id": "7a8611c1-a2a4-47b9-a498-86293c40f01b",
      "name": "SETA_12_13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').item.json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('DADOS').item.json.api_key_evolution }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').first().json.remote_jid_12.trim() }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        272
      ],
      "id": "18077bfa-4133-4bba-99a3-919118938a65",
      "name": "Check JID 12",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        256
      ],
      "id": "da425919-3c08-4323-9c6d-1c8142486347",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa10db6d-a9eb-4fe4-b9ef-d187369e2b5e",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        128
      ],
      "id": "59ede0ab-d724-40ae-8c11-56d2d4fc8395",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbe31f74-4905-47a1-bda3-635a665a8ed5",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        496
      ],
      "id": "25e589c3-2218-4d17-97a1-a55e4ceaa12a",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').first().json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('DADOS').item.json.api_key_evolution }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').item.json.remote_jid_13.trim() }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        352
      ],
      "id": "afa7a0c9-55bb-40e7-85cf-75685775b99e",
      "name": "Check JID 13",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15-OMaz8cWiTHjfk8Ay4fbjHCYOjPTyqfbXFyYo1mzg4",
          "mode": "list",
          "cachedResultName": "Leads - Google Maps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-OMaz8cWiTHjfk8Ay4fbjHCYOjPTyqfbXFyYo1mzg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10L-HNkOwldPGuCHed2eHheYfXbWxLhaERqlnwAwFl90/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_empresa": "={{ $('Loop Over Items').item.json.nome_empresa }}",
            "telefone": "={{ $('If').first().json.jid }}",
            "endereco": "={{ $('Loop Over Items').item.json.endereco }}",
            "website": "={{ $('Loop Over Items').item.json.website }}",
            "rating": "={{ $('Loop Over Items').item.json.rating }}",
            "reviews": "={{ $('Loop Over Items').item.json.reviews }}",
            "especialidades": "={{ $('Loop Over Items').item.json.especialidades }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_empresa",
              "displayName": "nome_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "especialidades",
              "displayName": "especialidades",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disparo",
              "displayName": "disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3312,
        608
      ],
      "id": "78aaad4a-ea83-4e4e-97da-a7666d9f85bf",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nfGoy3UranCgi3Hm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54ace6d-93b9-4219-b7bc-c01baabc41ad",
              "name": "url_do_evolution",
              "value": "URL DO SEU EVOLUTION AQUI",
              "type": "string"
            },
            {
              "id": "ed523a0c-b1d7-4d15-957e-e08b22c64143",
              "name": "api_key_evolution",
              "value": "API KEY DA SUA INSTÂNCIA AQUI",
              "type": "string"
            },
            {
              "id": "8e88f47d-aef0-4c73-bcb9-025aebfc837b",
              "name": "instancia_evolution",
              "value": "NOME DA SUA INSTÂNCIA AQUI",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        256
      ],
      "id": "03de4695-4cb7-4d0b-84be-b579f9334960",
      "name": "DADOS"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        144
      ],
      "id": "96ab6ce5-44bf-4452-9a7c-65907b80fbe5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3552,
        608
      ],
      "id": "c3bb3012-d3cb-4665-b930-b330268a5190",
      "name": "Wait",
      "webhookId": "1670e064-8750-49a0-a3ab-4d79a9e324a1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10L-HNkOwldPGuCHed2eHheYfXbWxLhaERqlnwAwFl90",
          "mode": "list",
          "cachedResultName": "Leads - Google Maps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10L-HNkOwldPGuCHed2eHheYfXbWxLhaERqlnwAwFl90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10L-HNkOwldPGuCHed2eHheYfXbWxLhaERqlnwAwFl90/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefone",
              "lookupValue": "={{ $json.jid }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2816,
        112
      ],
      "id": "9ecfc306-0801-4223-870c-ddd562798e7b",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nfGoy3UranCgi3Hm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9949dc12-7010-4366-9596-a8412e0f7797",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2816,
        368
      ],
      "id": "2e443b3a-cd4e-448f-b9e7-d1973f7b3cc7",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3232,
        528
      ],
      "id": "f0f4af73-14ab-4dbb-8603-fe5723f1075d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        16
      ],
      "id": "206900d6-c498-4d99-b47d-630081fd8af3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2816,
        608
      ],
      "id": "544721f0-5656-4e50-b4ae-d0b313642603",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETA_12_13": {
      "main": [
        [
          {
            "node": "Check JID 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JID 12": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SETA_12_13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check JID 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JID 13": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "890fdd83-bb68-4f23-bd50-988896fe297b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-03T01:40:30.390Z",
      "updatedAt": "2025-08-03T01:40:30.390Z",
      "role": "workflow:owner",
      "workflowId": "9hpX4NWfFeLAXdgi",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}