doc2/fluxo-multi-agentes-|-legião-automática-.json
{
  "createdAt": "2025-07-27T02:50:53.093Z",
  "updatedAt": "2025-07-27T03:29:47.415Z",
  "id": "upsDVU7ZiqSfNrRk",
  "name": "Fluxo Multi Agentes | Legião Automática",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "88b7411b-ebaa-4d72-9e7f-10637a364bde",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        -32
      ],
      "id": "9b720bb6-dd91-4ce6-bc43-7e16f49c4e8d",
      "name": "Webhook",
      "webhookId": "88b7411b-ebaa-4d72-9e7f-10637a364bde"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        -32
      ],
      "id": "f00b2f95-8be8-4659-9dc9-d460fc240fb5",
      "name": "Parse"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00bb8bec-c9b4-4a84-9fca-f62f7c8769be"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1a57440-0b58-42e3-9a2a-ae8121bd1db6",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        -32
      ],
      "id": "51b32f2f-cb3d-4d2b-9a8a-7b78a3a6a88f",
      "name": "Switch"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "047e03a1-4bdd-4e45-b703-0b8624f1b9ee",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-27T02:50:53.093Z",
      "updatedAt": "2025-07-27T02:50:53.093Z",
      "role": "workflow:owner",
      "workflowId": "upsDVU7ZiqSfNrRk",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}