doc2/google-maps-scraper-.json
{
  "createdAt": "2025-07-06T00:58:08.002Z",
  "updatedAt": "2025-07-07T13:18:00.021Z",
  "id": "OXaVuRjnSNVlB4Hr",
  "name": "google-maps-scraper",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "04301c7b-9288-439c-8e52-6a6b45740e56",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QHrYZ2_evtCTQG8uu7LMTf6eCYe0gfXCIi4Jaz53ZR0",
          "mode": "list",
          "cachedResultName": "Captação de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QHrYZ2_evtCTQG8uu7LMTf6eCYe0gfXCIi4Jaz53ZR0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QHrYZ2_evtCTQG8uu7LMTf6eCYe0gfXCIi4Jaz53ZR0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "415aa49d-b9b1-448e-9a4f-efacc0c89303",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cCDJJSGKMXzPs2pS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://google-maps-scraper.everaldolima.com.br:3000/search?term={{ $json.Termo }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "term",
              "value": "={{ $json.Termo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "a8d3305c-e557-49ff-87de-f789c74782d8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Obtem todos os dados de entrada\nconst inputData = $input.all();\n\n// Cria uma lista de objetos para cada site associado ao termo\nreturn inputData.flatMap(item => {\n  const term = item.json.term;\n  const websites = item.json.websites;\n\n  // Retorna um array de objetos com o termo e cada site individualmente\n  return websites.map(site => {\n    return {\n      json: {\n        term: term,\n        website: site\n      }\n    };\n  });\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "f4e150f7-7db8-42d9-9259-63c083a24d77",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QHrYZ2_evtCTQG8uu7LMTf6eCYe0gfXCIi4Jaz53ZR0",
          "mode": "list",
          "cachedResultName": "Captação de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QHrYZ2_evtCTQG8uu7LMTf6eCYe0gfXCIi4Jaz53ZR0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428756309,
          "mode": "list",
          "cachedResultName": "Resultados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QHrYZ2_evtCTQG8uu7LMTf6eCYe0gfXCIi4Jaz53ZR0/edit#gid=428756309"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Website"
          ],
          "schema": [
            {
              "id": "Termo",
              "displayName": "Termo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        0
      ],
      "id": "3843f582-8dd7-4c92-adec-b2b2ebdadca4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cCDJJSGKMXzPs2pS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1100,
        0
      ],
      "id": "731c475b-7164-449b-900b-ff84165ff630",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1520,
        260
      ],
      "id": "5cf707ed-97f9-4db6-9360-e956e2b56595"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -20
      ],
      "id": "f5644c9a-83ea-4fcb-abdd-6fccb1dc8a29",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e032948-955a-4656-a4cd-8ef37453119f",
  "triggerCount": 0,
  "tags": []
}