doc2/morning-call-.json
{
  "createdAt": "2025-07-25T14:53:35.416Z",
  "updatedAt": "2025-08-09T00:36:51.434Z",
  "id": "ZoU66jcwILgFvijm",
  "name": "Morning Call",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "6506f4c4-64eb-410c-bf83-8e6a7b96d0fb",
      "name": "Trigger Diário",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        176,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "weekday1",
              "leftValue": "={{ new Date().getDay() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "weekday2",
              "leftValue": "={{ new Date().getDay() }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f440e9-29b1-4e64-b118-2e5711e5d371",
      "name": "Verificar Dia Útil",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um analista financeiro com experiência em macroeconomia, mercado internacional e brasileiro. Elabore um boletim matinal (Morning Call) com uma linguagem objetiva, clara e profissional, no formato abaixo:\n\n📈 **Morning Call – Café com Trade**  \n📅 {{ $node[\"FormatDate\"].json[\"data_formatada\"] }}\n\n🇺🇸 **EUA**: [Atualize com panorama dos futuros, decisões de política monetária, inflação, dados macro, ou fatos políticos relevantes].\n\n🌏 **Ásia**: [Resumo dos fechamentos das principais bolsas asiáticas (Japão, China, etc.) e fatores que impactaram, como inflação, dados dos EUA, etc.].\n\n🇪🇺 **Europa**: [Tendência dos mercados europeus e principais notícias econômicas/políticas da região].\n\n🇧🇷 **Brasil**: [Dados macroeconômicos, indicadores divulgados, destaque político ou econômico relevante do dia].\n\n🛢️ **Commodities**: [Movimento de petróleo, minério de ferro, dólar e o impacto das expectativas globais].\n\n📰 **Política**: [Principais acontecimentos políticos que impactam o mercado, tanto no Brasil quanto no exterior].\n\n📊 **Corporativo**:  \n- [Empresas brasileiras com destaque no pregão de hoje, anúncios de dividendos, fusões, balanços, etc.]\n\n---\n\n☕ Tenha um excelente dia e bons trades!  \n📍 **Café com Trade**\n\n⚠️ O texto deve ter no máximo **1600 caracteres**, para que seja enviado por WhatsApp.\n\nEvite repetir palavras e mantenha tom **profissional, informativo e direto ao ponto**.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        848,
        32
      ],
      "id": "83347544-86cc-401c-98c7-de53ed9b26f6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "22b8a85e-47c3-4be3-8a3b-2a16302cda0e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yCN5cQBry493EhkU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const date = new Date();\nreturn [{\n  json: {\n    data_formatada: date.toLocaleDateString(\"pt-BR\", { \n      weekday: 'long', \n      day: '2-digit', \n      month: 'long', \n      year: 'numeric' \n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        32
      ],
      "id": "0f79f176-b098-43f2-90bd-0a4f471819da",
      "name": "FormatDate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1424,
        32
      ],
      "id": "6e7560ef-1b5c-4d9e-af52-b024c809c2e6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n",
        "remoteJid": "120363418282831477@g.us",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        32
      ],
      "id": "b7b9e35a-6fdd-4fd1-87f6-e09b7b654933",
      "name": "Enviar para Grupo WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Trigger Diário": {
      "main": [
        [
          {
            "node": "Verificar Dia Útil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Dia Útil": {
      "main": [
        [
          {
            "node": "FormatDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar para Grupo WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FormatDate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para Grupo WhatsApp": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Trigger Diário": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "8da041c5-1a14-43b9-abfc-83b12e05775a",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-25T14:53:35.416Z",
      "updatedAt": "2025-07-25T14:53:35.416Z",
      "role": "workflow:owner",
      "workflowId": "ZoU66jcwILgFvijm",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}