doc2/rag-Gustavo Moura.json
{
  "createdAt": "2025-07-07T15:22:55.823Z",
  "updatedAt": "2025-07-07T15:23:49.641Z",
  "id": "T4j4XGZRKmYkoukH",
  "name": "RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        500,
        240
      ],
      "id": "3ea7443d-b899-43a8-aa51-7ba54126b112",
      "name": "When chat message received",
      "webhookId": "6bc1cb26-bb83-4c7d-a475-a642c034ca83"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        240
      ],
      "id": "b382aa99-edbe-4efc-9261-5248beeada4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        480
      ],
      "id": "147d927f-8b9a-4f18-935b-6b38987a70fc",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        800,
        500
      ],
      "id": "a5354997-1d14-49ed-a059-af4ac86adcdc",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "DqpVg9t5M5TqzU6t",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1020,
        500
      ],
      "id": "bca2dbec-b478-4715-a529-3ecc3eab18cd",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1140,
        680
      ],
      "id": "e951afd8-0e03-4d18-9261-1a11b22eb247",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1340,
        600
      ],
      "id": "7be21949-19a4-40fe-bac2-7f9389f1c710",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        740
      ],
      "id": "ca922e59-55a4-4f79-86fe-007d40171de0",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KR9o8b9Ltvj5jvPDUf-y-g8w93eGOiGj",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        280,
        1000
      ],
      "id": "094b347a-6bd0-4b4b-bf04-82b281af00c6",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KR9o8b9Ltvj5jvPDUf-y-g8w93eGOiGj",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        280,
        1180
      ],
      "id": "39f2410e-0c1c-4572-9539-67c7a15f270a",
      "name": "Google Drive Trigger1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.{{$json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        580,
        1100
      ],
      "id": "f5b50663-ead9-40eb-bc5f-2bc86d8eb282",
      "name": "Supabase1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger1').item.json.id || $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        1100
      ],
      "id": "5506eae3-7785-4ade-a688-86f6d1f1f167",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1020,
        1100
      ],
      "id": "5298e6db-5037-4685-afa7-a75925186860",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1240,
        1100
      ],
      "id": "84e94542-45be-4538-ba3c-ee35034dc661",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        1300
      ],
      "id": "4c5439e3-8cb7-4510-9fd2-08a18d18e46a",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Google Drive Trigger1').item.json.id || $('Google Drive Trigger').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1480,
        1280
      ],
      "id": "89673aa7-8260-45fe-b00e-b9661d2ae6a7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1440,
        1440
      ],
      "id": "23375c80-c5d5-4082-8d57-46928bb45632",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "# Receber File",
        "height": 440,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        920
      ],
      "typeVersion": 1,
      "id": "700f5e93-1f36-429c-820e-2340219b9359",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Tratar e baixar file",
        "height": 300,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        1000
      ],
      "typeVersion": 1,
      "id": "43844377-e614-4303-8ac4-9ecd096f8e72",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Salvar Vector Store",
        "height": 620,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        1000
      ],
      "typeVersion": 1,
      "id": "b1cbc479-490e-4b34-a1bc-41f91e3e4463",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Consultar base de conhecimento",
        "height": 480,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        420
      ],
      "typeVersion": 1,
      "id": "1dc19717-c9e9-43a8-8285-0c9edef7f34c",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0f3d0a7c-ede9-4bbd-b8de-2ebbff8db9bb",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-07-07T15:22:39.931Z",
      "updatedAt": "2025-07-07T15:22:39.931Z",
      "id": "Vpkmm1T3ZTKfKXJt",
      "name": "Gustavo Moura"
    },
    {
      "createdAt": "2025-07-07T15:22:39.942Z",
      "updatedAt": "2025-07-07T15:22:39.942Z",
      "id": "qLjzan71jqK5mmDk",
      "name": "Construa com IA"
    }
  ]
}