doc2/rag___demo_yt-.json
{
  "createdAt": "2025-07-31T14:04:59.870Z",
  "updatedAt": "2025-07-31T14:04:59.870Z",
  "id": "aOQ7hcGE17JzuwLq",
  "name": "RAG___Demo_YT",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mGPbi6P-hLC04Kv9VJJJmjqsz4B-jiP4",
          "mode": "list",
          "cachedResultName": "Demo Rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mGPbi6P-hLC04Kv9VJJJmjqsz4B-jiP4"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "13800005-8e22-401b-abed-46cd74c97b29",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8MAiyh89YVmVxJ49",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        704,
        0
      ],
      "id": "32646b19-c830-4654-9c4a-18e51a81a244",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "EJC32cBIZ8aidg1P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        240
      ],
      "id": "cb337128-cfd3-43e5-a2f3-30aa7a764a53",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        848,
        224
      ],
      "id": "99cec839-9e31-4bec-9220-1dc739fa21e8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        448
      ],
      "id": "f54b30d8-7d40-4644-a0c8-afd1a84ce192",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "8e941b35-6b42-41d1-b959-3920e291a4da",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "bcdd07d2-c89e-45cc-8b9e-4bf0807100ec",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8MAiyh89YVmVxJ49",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "660bcbb9-9239-461b-bae3-db26e163cff3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-31T14:04:59.870Z",
      "updatedAt": "2025-07-31T14:04:59.870Z",
      "role": "workflow:owner",
      "workflowId": "aOQ7hcGE17JzuwLq",
      "projectId": "W84J5ordzl059lka"
    }
  ],
  "tags": []
}