doc2/recuperação-kirvano-.json
{
  "createdAt": "2025-07-25T14:54:33.342Z",
  "updatedAt": "2025-07-31T13:14:18.604Z",
  "id": "PBCXEOxRu7Zoxe6V",
  "name": "Recupera칞칚o Kirvano",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3848e6c7-7b9d-4754-8141-c19189ede3bc",
              "name": "INSTANCE",
              "value": "automacao-ia",
              "type": "string"
            },
            {
              "id": "8fd63748-3d3c-4049-9533-92754701a970",
              "name": "NOME",
              "value": "={{ $json.body.customer.name }}",
              "type": "string"
            },
            {
              "id": "9d2b3427-f7ee-4616-a920-580e3cc833bd",
              "name": "NUMERO",
              "value": "={{ $json.body.customer.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        96
      ],
      "id": "a49f52ae-0ac1-4226-a271-ffe958bc85ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        96
      ],
      "id": "8e7ca8cd-4086-4339-92a2-0ae986f0e821",
      "name": "Wait",
      "webhookId": "e5b6d4cc-075c-4a25-807a-02b983b8b3ef"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        928,
        96
      ],
      "id": "dfbf26ef-1fa4-4dc3-a61d-c3a4b72e1b0f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "automacao-ia",
        "remoteJid": "={{ $json.body.customer.phone_number }}",
        "messageText": "=Assunto: Falta s칩 1 passo para garantir seu acesso ao {{ $json.body.products[0].name }} 游\n\nOl치, {{ $json.body.customer.name }}!\n\nPercebemos que voc칡 iniciou a compra do Caf칠 com FX via PIX, mas ainda n칚o finalizou o pagamento.\n\n丘멆잺 Importante: seu acesso ao conte칰do s칩 ser치 liberado ap칩s a confirma칞칚o do pagamento.\n\nPara n칚o perder esta oportunidade, finalize o pagamento do seu PIX o quanto antes 九\nPara finalizar, basta copiar o c칩digo PIX abaixo e fazer o pagamento direto no seu app banc치rio:\n游녤 {{ $json.body.payment.qrcode }}\n\nSe tiver qualquer d칰vida, pode me chamar diretamente:\n游닎 brunodosreislima@yahoo.com.br\n\nAssim que o pagamento for confirmado, seu acesso ser치 liberado automaticamente.\n\nAbra칞os,\nBruno Reis",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        256,
        448
      ],
      "id": "3f44c508-2d4e-4a8e-b757-5f430bf2b338",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sala-sinais-abandonado",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        96
      ],
      "id": "1a4a0ab6-6233-403f-9105-d9ec00e60f0c",
      "name": "Carrinho abandonado",
      "webhookId": "5f39a65f-816c-456b-9b45-d81f2bf6af13"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pix-gerado",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        448
      ],
      "id": "13314d36-1f70-4267-9302-60d396a3df52",
      "name": "PIX gerado",
      "webhookId": "6a227fc4-e697-46ef-a1cb-f1f7c3c7bc5e"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        448
      ],
      "id": "fc611eee-e81d-4914-aae7-47452b94e87d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "PIX GERADO",
        "height": 272,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        352
      ],
      "typeVersion": 1,
      "id": "09bec32b-b620-45f7-b81e-49cc8a7ed4f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "CARRINHO ABANDONADO",
        "height": 272,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0f2a2743-70a2-4127-ac75-e1070d9aa4d5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Edit Fields').item.json.INSTANCE }}",
        "remoteJid": "={{ $('Edit Fields').item.json.NUMERO }}",
        "messageText": "=Somos do Bruno Reis, a plataforma onde o produto {{ $('Carrinho abandonado').item.json.body.products[0].name }} est치 cadastrado.\n\nVimos que voc칡 deixou ele no seu carrinho, mas n칚o finalizou a compra 游땬\n\nN칚o perca esta oportunidade! Para finalizar a compra e garantir seu acesso ao produto {{ $('Carrinho abandonado').item.json.body.products[0].name }}, acesse o link abaixo 拘勇끂n{{ $('Carrinho abandonado').item.json.body.checkout_url }}\n\n칄 r치pido, pr치tico e 100% confi치vel 九\n\nSe tiver alguma d칰vida, envie uma mensagem para o(a) produtor(a) deste conte칰do, Bruno Reis: brunodosreislima@yahoo.com.br\n\nCaso j치 tenha efetuado a compra, ignore esta mensagem.\n\nAbra칞os,\nBruno Reis.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        720,
        96
      ],
      "id": "0c0cdb4e-3c0c-4c8b-82d7-921a037920f8",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "yGbknPBGtQEGp57A",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carrinho abandonado": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX gerado": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "779a269b-02a5-4be7-b1f9-bbfdae001954",
  "triggerCount": 2,
  "tags": []
}