doc2/set-variaveis-2-.json
{
  "createdAt": "2025-07-28T01:19:27.884Z",
  "updatedAt": "2025-07-28T01:21:36.848Z",
  "id": "YcFDxopnIIbHMAds",
  "name": "SET VARIAVEIS 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "962aa0d1-bec0-48d5-935b-43ca256f5cde",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -176,
        240
      ],
      "id": "ffe7ee9f-babf-49e2-a558-24f54aa57717",
      "name": "Webhook",
      "webhookId": "962aa0d1-bec0-48d5-935b-43ca256f5cde"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.jsonData }}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        240
      ],
      "id": "4ca174b8-404b-448d-a694-e69fa8acd462",
      "name": "PARSE_"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d7d3ce2-d93b-43fd-9d3e-628bcd73774d",
              "leftValue": "={{ $('PARSE_').item.json.event.Info.IsGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        240
      ],
      "id": "d0fb08b5-da93-40ae-abdf-2419180f9a9a",
      "name": "É GRUPO?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        112
      ],
      "id": "4a5f87f9-5ad2-449c-8044-5d58fbd02930",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event.Info.MediaType }}",
                    "rightValue": "ptt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5da65ec7-bb1c-4813-939b-daf11c7a951c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77af41f3-4fd7-4803-8411-51ec9e789830",
                    "leftValue": "={{ $json.event.Info.Type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cab4affb-3f0e-48b2-815f-e421010fb414",
                    "leftValue": "={{ $json.event.Info.MediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        384
      ],
      "id": "3d40c5aa-5c8e-4e5a-9b3f-fc60101cd9fd",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        512,
        272
      ],
      "id": "72b87a63-122b-441c-95a2-27ce74f57c60",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DJactF7wQNTfRMvR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        688,
        384
      ],
      "id": "5c12bee3-bb0f-4e2e-8e44-cf75624b784e",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## 01_ Informações Iniciais",
        "height": 460,
        "width": 1220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        80
      ],
      "typeVersion": 1,
      "id": "0b11a99d-ea7f-436b-ba1e-2c4feeb3eede",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db04d647-0171-4c37-900e-0ec2a78869d6",
              "name": "info.user.name",
              "value": "={{ $('PARSE_').item.json.event.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "55bf3be0-b291-4da6-a591-d07b6d2219e5",
              "name": "info.user.number",
              "value": "={{ $('PARSE_').item.json.event.Info.Chat }}",
              "type": "string"
            },
            {
              "id": "c0caac9a-1543-4ede-b219-6590ab723e8a",
              "name": "message.sender",
              "value": "={{ $('PARSE_').item.json.event.Info.Sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "60c80e28-5245-4e1a-b474-b542007e8ff9",
              "name": "message.origem",
              "value": "={{ $('PARSE_').item.json.event.Info.IsFromMe ? 'outgoing' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "9a4aac05-99e1-4bd7-8c3c-8757b0b0d63d",
              "name": "message.group",
              "value": "={{ $('PARSE_').item.json.event.Info.IsGroup }}",
              "type": "boolean"
            },
            {
              "id": "66c5df72-0c8e-427b-a674-94b9dbb489fc",
              "name": "message.id",
              "value": "={{ $('PARSE_').item.json.event.Info.ID }}",
              "type": "string"
            },
            {
              "id": "c7af394b-d670-428d-bff8-3ecf87452465",
              "name": "message.Type",
              "value": "={{ $('PARSE_').item.json.event.Info.MediaType }}",
              "type": "string"
            },
            {
              "id": "99d0abc9-31e9-46d7-847d-02ebbaf39071",
              "name": "message.timestamp",
              "value": "={{ $('PARSE_').item.json.event.Info.Timestamp }}",
              "type": "string"
            },
            {
              "id": "46e92787-60b4-409a-9a1b-f2a13af3bb70",
              "name": "message.content",
              "value": "={{ $json.text }} {{ $('PARSE_').item.json.event.Message.conversation }} {{ $json.event.Message.extendedTextMessage.text }}",
              "type": "string"
            },
            {
              "id": "73f102c2-2a5d-424e-a4e7-9b1459cdc6dc",
              "name": "api.token",
              "value": "={{ $('Webhook').item.json.body.token }}",
              "type": "string"
            },
            {
              "id": "b08c6660-f235-481b-9a94-3b5162ab821a",
              "name": "api.baseurl",
              "value": "https://www.avisaapi.com.br/api",
              "type": "string"
            },
            {
              "id": "44984d79-df61-46f3-89d2-fbb25c7053ef",
              "name": "message.timeout",
              "value": "720",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        384
      ],
      "id": "c7010a64-ac97-4357-919d-892f451d978e",
      "name": "SET_VARIAVEIS"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PARSE_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSE_": {
      "main": [
        [
          {
            "node": "É GRUPO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É GRUPO?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SET_VARIAVEIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75f28c74-ef7a-4d2c-8c96-8ab1c1f14fab",
  "triggerCount": 0,
  "tags": []
}